body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
  background-color: #f4f4f4;

 
}

/* global */
*{
  text-decoration: none;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;

}
ul{
  margin: 0;
  padding: 0;
}
.button_1{
  height: 38px;
  background: #e8901d ;
border: none;
padding-left: 20px;
padding-right: 20px;
color: white;
}

/* -------------------------header--------------------------*/
header{
  /* background: #35424a;  this is gray*/
  background: linear-gradient(to bottom, #13243e 0%, rgb(27, 116, 176, .79) 100%);
  color: #ffffff;
  padding-top: 30px;

  min-height: 70px;
  border-bottom: #e8901d 4px solid;
  position: fixed;
  width: 100%;
  /* margin-bottom: 15px; */

}
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

}
header li{

  display: inline;
  padding: 0 20px 0 20px;
  font-size: 16px;
  font-weight: bold;
}
header #branding{
  float: left; 

}
header #branding h1 {
  margin: 0;
}
header nav{
 display: flex;
 justify-content:flex-end;
  margin-top: 10px;
}
header .highlight, header .current a{
  color: #e8901d ;
  font-weight: bold;
}
header a:hover{
  color:#cccccc;
  font-weight: bold;
}


/* -------------------------showcase --------------------------*/

#showcase{
  min-height: 75vh;
  padding-top: 20vh;
  background-color: #5a5a5a;
  background: linear-gradient(to bottom, #9b9b9b 0%, #555555 100%);
 
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px #13243e;
  border-bottom: #e8901d 4px solid;
  
}
section .emphasize{
  color: #e8901d;
}
#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p{
  font-size: 20px;
}

/* ---------------------------banner------------------ */

#banner{
  padding: 15px;
  
  color: white;
  /* background: #35424a; */
  background: linear-gradient(to bottom, #13243e 0%, rgb(27, 116, 176) 100%);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #13243e;
  border-bottom: #e8901d 5px solid;
}
/* ---------------------------work------------------ */

#work{
  padding-bottom: 20vh;
  padding-top: 20vh;
  min-height: 55vh;
/* display: flex; */
background: linear-gradient(to bottom, #9b9b9b 0%, #555555 100%);
color: #e8901d;
font-size: 20px;
text-shadow: 2px 2px 2px #13243e;
}
section#work .container{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
#work .box img{
  height: 300px;
  /* width: 250px; */
}
.project-tile:hover {
  outline: none;
  text-decoration: none;
 
  color: rgb(255, 0, 0);
}
.project-tile {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
/* ---------------------------contact------------------ */
#contact{
  min-height: 55vh;
  padding-top: 25vh;
  /* background: #35424a; */
  background: linear-gradient(180deg, #13243e 0%, rgb(27, 116, 176) 100%);
  color: white;
  text-align: center;
  text-shadow:2px 2px 2px #000000;
}
.contact-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.contact-details {
  text-decoration: none;
  border: 2px solid white;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #5a5a5a;
  color:white;
}
.contact-details:hover {
  background: #e4f1fe;
  color:#e8901d;
}


footer{
  padding: 20px;
  padding-top: 40px;
  color: white;
background-color: #e8901d ;
text-align: center;
}

/* --------------------------media stuff-------------------- */
@media(max-width: 870px){
  header #branding,
  header nav,
  header nav li, #work .box{
    float: none;
    text-align: center;
    
    width: 100%
  
  }
  section#work .container{
    display:flex;
    flex-direction: column;
    text-align: center;
  }
  #work .box img{
    height: 250px;
  }

  header{
    padding-bottom: 20px;
  }

  #showcase h1{
    margin-top: 40px;
  }
.contact-buttons{
    display:flex;
    flex-direction: column;
  }
 
}
