body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  text-align: center;
  /* max-width: 960px; */
}
* {
  margin: 0px;
  padding: 0px;
}
nav ul {
  /* text-align: right; */
  /* display: flex;
  justify-content: flex-end;

  width: 100%;
  background: rgba(83, 183, 245, 0.794);

  margin: 0px; */
  position: fixed;
}
nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}
nav ul li a {
  color:black;
  text-decoration: none;
}
h1 {
  text-shadow: 2px 2px 2px black;
 
}
.intro h1{
  font-size: 180px;
text-align: left;
padding-top: 60vh;
}
.intro p{
  font-size: 40px;
  position: sticky;
  text-align: left;
  padding-left: 10px;
}
h2 {
  color: #ffffff;
  padding: 20px;
  margin: 0px;
  text-shadow: 2px 2px 2px black;
 
}
.intro {
  /* display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  top: 0px; */
  /* min-height: 55vh; */
  /* padding-top: 45vh; */
  /* background: linear-gradient(
    135deg,
    rgba(83, 183, 245, 0.692) 0%,
    rgba(255, 255, 255, 0.171) 75%,
    rgba(144, 12, 12, 0.445) 100%
  ); */
  border: solid green;
  color: rgba(83, 183, 245, 0.794);
  text-shadow: 2px 2px 2px black;
}

.intro div {
  /* border: 1px solid red; */
  width: 400px;
  /* height: 320px; */
  text-align: center;
  margin-bottom: 40px;
}
.intro p {
  text-transform: uppercase;
}
.work-main {
  /* min-height: 55vh;
  padding-top: 60px; */
  /* min-height: 55vh; */
  padding-bottom: 20vh;
  padding-top: 20vh;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  min-height: 55vh;
   background: linear-gradient(
    135deg,
    rgba(83, 183, 245, 0.794) 0%,
    rgba(255, 255, 255, 0.171) 45%,
    rgba(55, 54, 54) 100%);
  

  display: flex;
  flex-direction: column;
  text-align: center;
}
.work-main a:link {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: rgb(249, 249, 249);
}
.work-main a:hover {
  text-shadow: 2px 2px 2px #1c6ea4;
}
.portfolio-page {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.work {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
.project-pic {
  height: 200px;
}
.project-tile {
  font-weight: bold;
  text-align: center;
}

figure {
  max-width: 355px;
  margin: 0px;
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  #projects {
    margin: 40px 0;
  }
}
.header {
  padding: 160px 0 110px;
}
.smaller-image {
  height: 200px;
}
#contact {
  padding-top: 60px;
  min-height: 55vh;
  background: linear-gradient(
    135deg,
    rgb(72, 173, 241) 0%,
    rgb(35, 77, 104) 100%
  );
  color: #ffd000;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 160px;
}
.contact-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-details {
  text-decoration: none;
  border: 2px solid #ffd000;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: rgb(52, 28, 10);
  color: #ffd000;
}
.contact-details:hover {
  background: #e4f1fe;
  color: green;
}
footer {
  padding: 20px;
  text-decoration: none;
}
footer a:link {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: blue;
}
footer a:hover {
  text-shadow: 2px 2px 2px #1c6ea4;
}
