body{
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    180deg,
    rgb(210,51,75) 0%,
    rgb(160,37,21) 100%);

}
h2{
  text-align: center;
}
p{
  font-weight: bolder;
  letter-spacing: 4px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h1{
  font-size: 50px;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgb(110, 109, 109);
}
#navbar{
  padding: 0px;
  margin: 0px;
}
nav{
  padding: 0px;
  margin: 0px;
}
nav ul li {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 0px;
}
nav ul li a{
  text-decoration: none;
  padding: 0px;
}

.scene {
  width: 260px;
  height: 260px;
  /* border: 1px solid #ccc; */
  margin: 20px;
  perspective: 600px;
}
.card {
  text-align: center;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  border-radius: 15%;
 
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.37);
}
.card.is-flipped {
  transform: rotateY(180deg);
  /* width: 100%;
  height: 100%; */
/* backface-visibility: inherit; */
}
.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  /* border: 2px solid #ccc; */
  backface-visibility: hidden;
 border-radius: 15%;
 background: linear-gradient(
    180deg,
    rgb(0,140,255) 0%,
    rgb(0,140,255, .623) 100%);


}

.card__face--back {
  text-align: center;
  /* width: 100px;
  height: 100px; */
  transform: rotateY(180deg);
  backface-visibility: hidden;
  font-weight: bolder;
  color: black;
}
button {
  width: 300px;
  color: rgb(255, 255, 255);
  font-size: 23px;
  line-height: 23px;
  padding: 20px;
  border-radius: 9px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(252, 207, 8) 0%,
    rgb(255, 123, 0) 50%,
    rgb(251, 172, 0) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.603) 5px 5px 15px 5px;
  border: 2px solid rgb(164, 116, 28);
  display: inline-block;
}

.button:hover {
  background: rgb(252, 207, 8);
}

.button:active {
  background: #e65502;
}
.button-container{
  display:flex;
  justify-content: space-between;
  /* width: 200em; */
}
figure {
  margin: 4px;
  padding: 4px;
  /* width: 220px;
  height: 220px; */
}

img {
  width: 200px;
  height: 200px;
  padding: 4px;
}
.infoDiv {
  top: 30px;
  margin-top: 40px;
  text-transform: capitalize;
  
}

.backImage {
  position: absolute;
  opacity: .15;
  left: 26px;
  top: 20px;
}
.attack-moves{
  font-size: 25px;
  margin-top:20px;
  margin-bottom: 0px;
}
