body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  text-align: center;
}
* {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;

}

header{
  /* background: #35424a;  this is gray*/
  /* background: linear-gradient(to bottom, #13243e 0%, rgb(27, 116, 176, .79) 100%); */
  background-image: url('/downloaded-pics/nav-background.png');
  color: #011640;
  padding-top: 30px;
  opacity: .7;
  min-height: 70px;
  border-bottom: #D9601A 4px solid;
  position: fixed;
  width: 100%;
  /* margin-bottom: 15px; */

}
header a{
  color: #011640;
  text-decoration: none;
  text-transform: uppercase;

}
header li{

  display: inline;
  padding: 0 20px 0 20px;
  font-size: 16px;
  font-weight: bold;
}
header #branding{
  float: left; 

}
header #branding h1 {
  margin: 0;
}
header nav{
 display: flex;
 justify-content:flex-end;
  margin-top: 10px;
}
header .highlight, header .current a{
  color: #F27B13 ;
  font-weight: bold;
}
header a:hover{
  color:#878787;
  font-weight: bold;
}

#infographic{
  padding-top:110px;
  background-image: url('/downloaded-pics/background-texture.png');
}
#TheInfographic{
  max-height:3600px;
  max-width: 1000px;
}
#infographic h1{
  color:white;
  font-size: 48px;
  padding:3rem;
}