body{
  background: rgb(100, 100, 104);
  text-align: center;
  color: #ffd000;
}
h1{
  font-size: 30px;
}
.button-section{
  display:flex;
  justify-content: space-evenly;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container div{
  width: 200px;
  margin: 10px;
  text-align: center;
}
.box{
  box-shadow: 5px 5px 7px 5px black
}
/*----------^^^^^^^^^^^ to make the box-shadow appear -------------*/
.lightSide:hover{
  
box-shadow: 5px 5px 7px 5px rgb(1, 120, 255);
}
.darkSide:hover{
  box-shadow: 5px 5px 7px 5px rgb(167, 0, 0);
}
.yellow:hover{
  box-shadow: 5px 5px 7px 5px rgb(10, 196, 41) ;
}
h1 {
  text-transform: uppercase;
  font-weight: 700;
}