body{
  text-align: center;
}
h1 a:hover{
  text-shadow: 5px 5px 5px 5px green;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container div{
  width: 200px;
  margin: 10px;
  text-align: center;
}
.box{
  box-shadow: 5px 5px 7px 5px black
}
.lightSide:hover{
  
box-shadow: 5px 5px 7px 5px rgb(1, 120, 255);
}
.darkSide:hover{
  box-shadow: 5px 5px 7px 5px rgb(167, 0, 0);
}
.yellow:hover{
  box-shadow: 5px 5px 7px 5px rgb(10, 196, 41) ;
}
h1 {
  text-transform: uppercase;
  font-weight: 700;
}