

body{
  background: rgb(0, 0, 0);
  text-align: center;
  color: #ffd000;
}
h1{
  font-size: 30px;
}nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}
.button{
  width: 500px;
  height: 750px;
  color:rgb(253, 255, 254);
  
}
/* -----------the CSS for the bottons-------------*/

.button-section{
  display:flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  margin: 15px;
  color: #FFF;
  text-shadow: 3px 3px 6px rgb(72, 157, 35)
}
.maleBG{
  background-image: url("/maxresdefault\ \(1\).jpg");
  background-size:100% 100% ;
  height: 600px;
  width: 350px;
  font-family: "Courier New", Courier, monospace;
font-size: 60px;
letter-spacing: 3px;
text-transform: uppercase;
font-weight: bolder;
text-shadow: 4px 3px 14px rgb(72, 157, 35)
}
.femaleBG{
  background-image: url("/femaleBGedit.jpg");
  background-size: 100% 100%;
  height: 600px;
  width: 350px;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 4px 3px 14px rgb(72, 157, 35)
}
.lightBG{
  background-image: url("/yoda\ \(1\).jpg");
  background-size: 100% 100%;
  height: 600px;
  width: 350px;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 4px 3px 14px rgb(72, 157, 35)
}
.darkBG{
  background-image: url("/DarthMaul\ \(1\).jpg");
  background-size: 100% 100%;
  height: 600px;
  width: 350px;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 4px 3px 14px rgb(72, 157, 35)
}
/* --------------end of Button CSS ------------- */


.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: black;
 padding-bottom: 200px;
 

}
.container div{
  width: 200px;
  margin: 10px;
  text-align: center;


  
}

/*----------^^^^^^^^^^^ to make the box-shadow appear -------------*/
.lightSide:hover{
  
box-shadow: 5px 5px 7px 5px rgb(1, 120, 255);
}
.darkSide:hover{
  box-shadow: 5px 5px 7px 5px rgb(167, 0, 0);
}
.yellow:hover{
  box-shadow: 5px 5px 7px 5px rgb(10, 196, 41) ;
}
h1 {
  text-transform: uppercase;
  font-weight: 700;
}